[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
wtforms = "*"
requests = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-login = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.6"
